.order-image {
  width: 8vw;
  min-width: 50px;
  height: 8vw;
  min-height: 50px;
  object-fit: cover;
  border-radius: 40px;
}

.order-title {
  font-weight: bold;
  text-decoration: none;
  font-size: calc(8px + 0.8vw);
}

.order-details {
  font-weight: bold;
  text-decoration: none;
  font-size: calc(5px + 0.6vw);
}
