.navbar-white {
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  height: 8vw;
  min-height: 90px;
}

.link-item {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(10px + 0.4vw);
  color: #2f80ed;
}

.link-item:hover {
  cursor: pointer;
  color: black;
}

.active {
  color: black;
}

.navbar-phone {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(10px + 0.4vw);
  color: #2f80ed;
}

.logout-button {
  font-size: calc(10px + 0.3vw);
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.56);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}
